@using static QuanLyNhaHang_User.Views.Shared.Components.ProductInMenu.ProductInMenuViewComponent
@model DataModel 
@foreach (var category in Model.GetDataCategory())
    {
        <div id="@category.CateId" class="label-container">
            @category.TenLoaiSanPham
        </div>

        foreach (var product in Model.GetDataProduct(category.CateId))
        {
            <div class="menu-list">
                <table>
                    <tr class="menu-item">
                        <td class="menu__product-img" style="width:10px">
                            <div class="product__item-img"
                                 style="background-image: url(@product.PathPhoto);">
                            </div>
                        </td>
                        <td class="menu__product-name">
                            <div>@product.TenSanPham</div>
                            <div class="menu__product-price" style="text-align: left; color:orange;">
                                @String.Format("{0:N0}", product.GiaTien)đ
                            </div>
                        </td>

                        <td class="menu__product-plus">
                          <a asp-controller="Home" asp-action="ProductDetail" asp-route-ProductID="@product.ProductId" class="btn btn__primary-menu">+</a>
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
